<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">

	<bean id="myLoginManager" class="cn.edu.sjtu.se.reins.contract.admin.MyLoginManager"></bean>
	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="myLoginManager">
		</security:authentication-provider>
	</security:authentication-manager>

	<security:http auto-config=" true " use-expressions="true">
	
		<!-- 此项目含有3个普通角色以及1个特殊角色 -->
		<!-- ROLE_OPERATOR：合同经办人，ROLE_CONTRACT_MANAGER：合同管理者，ROLE_PROJECT_MANAGER：项目分管领导 -->
		<!-- ROLE_ADMIN：管理员，这个特殊角色内嵌到代码中，用户名为admin的用户拥有此角色，这个角色可以操作其他用户的权限信息 -->
	
		<!-- =======================以下是页面URL的权限配置=================== -->
		<!-- 主页，普通角色都能访问 -->
		<security:intercept-url pattern="/index"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 搜索页面，普通角色都能访问 -->
		<security:intercept-url pattern="/search"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 角色（权限）管理页面，只有ADMIN能够访问 -->
		<security:intercept-url pattern="/role"
			access="hasRole('ROLE_ADMIN')" />
		<!-- 预登记页面，只有合同经办人能够访问 -->
		<security:intercept-url pattern="/pre-register"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 审核列表页面，合同管理员和项目分管领导能够访问 -->
		<security:intercept-url pattern="/list-verify"
			access="hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 正式登记列表页面，只有合同经办人能够访问 -->
		<security:intercept-url pattern="/list-register"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 合同执行列表页面，只有合同经办人能够访问 -->
		<security:intercept-url pattern="/list-execute"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 注销页面，所有登录的角色都能访问 -->
		<security:intercept-url pattern="/logout"
			access="!hasRole('ROLE_ANONYMOUS')" />
		<!-- 合同详情页，普通角色都能访问 -->
		<security:intercept-url pattern="/view-contract/*"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 审核页面，合同管理员和项目分管领导能够访问 -->
		<security:intercept-url pattern="/comment-contract/*"
			access="hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 正式登记页面，合同经办人能够访问 -->
		<security:intercept-url pattern="/register-contract/*"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 执行支付节点页面，合同经办人能够访问 -->
		<security:intercept-url pattern="/pay-register/*"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 执行收款节点页面，合同经办人能够访问 -->
		<security:intercept-url pattern="/receive-register/*"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- =======================以上是页面URL的权限配置=================== -->
		
		
		<!-- =======================以下是AJAX URL的权限配置=================== -->
		<!-- 创建一个合同（预登记），合同经办人能够访问 -->
		<security:intercept-url pattern="/create-contract"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 正式登记一个合同，合同经办人能够访问 -->
		<security:intercept-url pattern="/register-contract"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 执行支付节点，合同经办人能够访问 -->
		<security:intercept-url pattern="/execute-pay"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 执行付款节点，合同经办人能够访问 -->
		<security:intercept-url pattern="/execute-receive"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 搜索，普通角色都能够访问 -->
		<security:intercept-url pattern="/search"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 获取用户和权限信息，只有ADMIN能够访问 -->
		<security:intercept-url pattern="/users"
			access="hasRole('ROLE_ADMIN')" />
		<!-- 为用户添加权限，只有ADMIN能够访问 -->
		<security:intercept-url pattern="/add-role"
			access="hasRole('ROLE_ADMIN')" />
		<!-- 为用户删除权限，只有ADMIN能够访问 -->
		<security:intercept-url pattern="/remove-role"
			access="hasRole('ROLE_ADMIN')" />
		<!-- 获取所有合同，该接口以废弃，拒绝访问 -->
		<security:intercept-url pattern="/get-contracts"
			access="denyAll" />
		<!-- 获取等待审批的合同列表，合同管理员和项目分管领导能够访问 -->
		<security:intercept-url pattern="/get-verify-contracts"
			access="hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 获取等待执行的合同列表，合同经办人能够访问 -->
		<security:intercept-url pattern="/get-execute-contracts"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 获取等待正式登记的合同列表，合同经办人能够访问 -->
		<security:intercept-url pattern="/get-register-contracts"
			access="hasRole('ROLE_OPERATOR')" />
		<!-- 获取一个合同的详细内容，普通角色都能够访问 -->
		<security:intercept-url pattern="/get-contract"
			access="hasRole('ROLE_OPERATOR') || hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- 审核一个合同，合同管理员和项目分管领导能够访问 -->
		<security:intercept-url pattern="/comment-contract"
			access="hasRole('ROLE_CONTRACT_MANAGER') || hasRole('ROLE_PROJECT_MANAGER')" />
		<!-- =======================以上是AJAX URL的权限配置=================== -->
		
		<!-- 静态资源都能访问 -->
		<security:intercept-url pattern="/js/**"
			access="permitAll" />
		<security:intercept-url pattern="/css/**"
			access="permitAll" />
		<security:intercept-url pattern="/fonts/**"
			access="permitAll" /> 
		
		<!-- 注销页面都能访问 -->
		<security:intercept-url pattern="/logout"
			access="permitAll" />
		
		<!-- 其他未配置的url都拒绝访问 -->
		<security:intercept-url pattern="/**" access="denyAll" />

		<security:form-login default-target-url="/index"></security:form-login>

		<security:csrf disabled="true" />
	</security:http>
</beans>
