<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sjtu.se.reins.contract.mapper.AccountMapper">

	<select id="getAccount" resultType="map">
		select EmployeeNumber as Username, LoginPassword as Password, EmployeeEmail as Email
		from employee
		where EmployeeNumber=#{Username};
	</select>
	
	<select id="getRoles" resultType="map">
		select contract_role.RoleName from contract_role
		left join account_role_rel
		on contract_role.RoleID = account_role_rel.RoleID
		where account_role_rel.EmployeeNumber = #{Username};
	</select>
	
	<select id="getAccounts" resultType="map">
		select EmployeeNumber as Username, EmployeeEmail as Email
		from employee
		<if test="Username != null">
		where EmployeeNumber like #{Username}
		</if>
		limit #{Offset}, #{Amount};
	</select>
	
	
	<select id="countAccounts" resultType="java.lang.Integer">
		select count(EmployeeNumber)
		from employee
		<if test="Username != null">
		where EmployeeNumber like #{Username}
		</if>
	</select>
	
	<insert id="addRoleRel">
		insert into account_role_rel(EmployeeNumber, RoleID)
		values(#{Username}, #{RoleID});
	</insert>
	
	<delete id="removeRoleRel">
		delete from account_role_rel
		where EmployeeNumber=#{Username}
			and RoleID=#{RoleID}
	</delete>
	
	<select id="getRole" resultType="map">
		select * from contract_role
		where RoleName=#{RoleName}
	</select>
</mapper>